/* gallery Page */

.gallery-banner-background-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/asserts/images/gallery-banner.svg");
  width: 100%;
}

.gallery-banner-content-heading p {
  font-family: "bagian", sans-serif;
  color: #fff;
  font-size: 94px;
  line-height: 110px;
}

.gallery-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.gallery-page {
  padding: 80px 0px;
}

.gallery-page-sub-heading p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  max-width: 850px;
  padding: 0px 0px 20px 0px;
}

.gallery-header {
  display: block;
  text-align: center;
}

.gallery-page-imgs2 {
  display: grid;
  grid-template-columns: 27.41% 27.41% 40.25%;
  gap: 20px;
}

.gallery-page-imgs {
  display: grid;
  grid-template-columns: 40.25% 27.41% 27.41%;
  gap: 20px;
}

.grid-container > div {
  text-align: center;
}

.item1 img,
.item2 img,
.item3 img,
.item4 img,
.item5 img,
.item6 img,
.item7 img,
.item8 img {
  width: 100%;
}

.gallery-btn button {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  background: rgba(0, 111, 249, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
}

.gallery-btn button i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 14px;
  color: #fff;
}

.gallery-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 4;
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.item7 {
  grid-row-start: 1;
  grid-row-end: 4;

  grid-column: 3/4;
}

.item8 {
  grid-column-start: 1;
  grid-column-end: 3;
}
