@media screen and (max-width: 1024px) {
  /* Header */

  .header-container {
    gap: 70px;
  }

  .header-nav ul li a {
    font-size: 14px;
  }

  .header-nav ul li button {
    padding: 10px 25px;
    gap: 8px;
  }

  .header-nav ul li i {
    font-size: 12px;
  }

  nav {
    gap: 30px;
  }

  .header-logo {
    width: 100px;
  }

  header {
    height: 600px;
  }

  .hr {
    width: 70%;
  }

  #header-navbar.scrolled {
    height: 100px;
  }

  /* Banner */

  .banner-content-heading h1 {
    font-size: 125px;
    line-height: 124px;
  }

  .banner-content-sub-heading p {
    font-size: 38px;
    line-height: 60px;
    font-weight: 500;
  }

  .banner-content-content p {
    font-size: 22px;
  }

  .banner-base-img {
    display: none;
  }

  /* About */

  .about-section {
    display: block;
    text-align: center;
  }

  .about-section-content-sub-heading p,
  .about-section-content-content p {
    margin: 0 auto;
    text-align: center;
  }

  .about-section-img {
    margin: 0 auto;
    width: 700px;
  }

  /* expeditions-section */

  .expeditions-card {
    width: 300.21px;
  }

  .expeditions-cards {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
  }

  .expeditions-navs {
    grid-template-columns: repeat(3, 0fr);
    gap: 50px;
  }

  .expeditions-card-content-header {
    gap: 20px;
  }

  /* faq */

  .faq-sub-header p,
  .faq-content-heading p,
  .faq-sub-content p {
    font-size: 22px;
    line-height: 30px;
  }

  .faq-content-content {
    font-size: 14px;
    line-height: 24px;
    max-width: 900px;
  }

  /* contact-section */

  .contact-sec-img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* Header */

  .header-nav ul li a {
    display: none;
  }

  header {
    height: 600px;
  }

  .hr {
    display: none;
  }

  .nav-btn-header {
    display: block;
  }

  .header-logo {
    width: 80px;
  }

  #header-navbar.scrolled {
    height: 130px;
  }

  /* Banner */

  .banner-content-heading h1 {
    font-size: 105px;
    line-height: 104px;
  }

  .banner-content-sub-heading p {
    font-size: 30px;
    line-height: 50px;
  }

  .banner-content-content p {
    font-size: 20px;
  }

  /* About */

  .about-section-content-sub-heading p {
    font-size: 20px;
    line-height: 28px;
  }
  .about-section-content-content p {
    font-size: 14px;
    line-height: 22px;
  }

  .about-section-img {
    display: none;
  }

  /* expeditions */
  .expeditions-cards {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
  }

  .expeditions-navs {
    grid-template-columns: repeat(2, 0fr);
    gap: 50px;
  }

  .expeditions-card-content {
    padding: 10px;
    gap: 10px;
    height: 100px;
  }

  /* footer */

  .copyright-container{
  
    p{
      color: #fff;
      font-size: 12px;
      line-height: 15px;
    }
  }

  .footer-nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-nav ul li a{
    font-size: 12px;
  }

  /* faq */

  .faq-sub-header p, .faq-content-heading p, .faq-sub-content p {
    font-size: 18px;
    line-height: 25px;
}
}


@media screen and (max-width: 424px) {
  /* header */

  .header-container {
    gap: 30px;
  }

  .header-nav ul li button {
    display: none;
  }

  .header-logo {
    width: 80px;
  }

  nav {
    display: none;
  }

  header {
    height: 500px;
  }

  /* Banner */

  .banner-content-heading h1 {
    font-size: 85px;
    line-height: 104px;
  }

  .banner-content-sub-heading p {
    font-size: 24px;
    line-height: 60px;
    font-weight: 600;
  }

  .banner-content-content p {
    font-size: 18px;
    margin: 10px;
  }

  .banner-content-btn button {
    margin: 0px 0px 40px 0px;
  }

  /* About */

  .about-section-content-sub-heading p {
    font-size: 18px;
    line-height: 28px;
  }
  .about-section-content-content p {
    font-size: 12px;
    line-height: 22px;
  }

  .about-section {
    display: flex;
    gap: 50px;
    margin: 50px 0px 50px 0px;
  }

  /* expeditions section */

  .expeditions-navs {
    grid-template-columns: repeat(2, 0fr);
    gap: 50px;
  }

  .expeditions-nav {
    width: 40px;
  }

  .expeditions-nav-last-img img {
    width: 67px;
  }

  .expeditions-nav-all {
    width: 40px;
    padding: 30px;
  }

  .expeditions-card {
    width: 200.21px;
  }

  .expeditions-header-sub-heading p {
    font-size: 14px;
  }

  .expeditions-card-content-heading p {
    font-size: 14px;
    line-height: 20px;
  }

  .expeditions-card-content-header-tag {
    font-size: 12px;
  }

  .expeditions-card-content-header-tag {
    padding: 2px 10px;
  }

  .expeditions-card-content-header {
    gap: 10px;
  }

  .expeditions-card-content-sub-heading p,
  i,
  .expeditions-card-content-sub-header-time p,
  i,
  .expeditions-card-content-content p {
    font-size: 12px;
    line-height: 20px;
  }

  .expeditions-card-content {
    padding: 10px;
    gap: 10px;
    height: 100px;
  }


  /* faq */

  .faq-sub-header p,
  .faq-content-heading p,
  .faq-sub-content p {
    font-size: 18px;
    line-height: 26px;
  }

  .faq-content-content {
    font-size: 12px;
    line-height: 20px;
  }

  /* contact-section */

  .contact-sec-details-name,
  .contact-sec-details-conatact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* footer */
  .copyright-container{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-nav ul{
   display: grid;
   grid-template-columns: repeat(2,1fr);
  }
  
  .footer-nav ul li a{
    font-size: 12px;
  }

  .footer-social-links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .footer-social-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-logo{
    margin: 0 auto;
    width: 50%;
  }
}
