/* Fonts */

@font-face {
  font-family: "bagian";
  src: url("/asserts/fonts/b_bagian/bBagian.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-med";
  src: url("/asserts/fonts/Manrope/static/Manrope-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Manrope";
  src: url("/asserts/fonts/Manrope/static/Manrope-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Manrope-bold";
  src: url("/asserts/fonts/Manrope/static/Manrope-Bold.ttf") format("truetype");
}

/* Global */

* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Header */

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/asserts/images/banner_img.svg");
  width: 100%;
  height: 730px;
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  align-items: center;
  gap: 30px;
}

.header-nav ul {
  list-style: none;
  cursor: pointer;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.header-nav ul li button {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  background: rgba(0, 111, 249, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
}

.header-nav ul li i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 14px;
}

.header-logo {
  width: 130px;
  cursor: pointer;
}

.header-logo img {
  width: 100%;
}

.hr {
  width: 100%;
}

.header-banner {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header-banner-content-heading h1 {
  font-family: "bagian", sans-serif;
  color: #fff;
  font-size: 150px;
  line-height: 164px;
}

.header-banner-content-sub-heading p {
  color: #fff;
  font-size: 48px;
  line-height: 66px;
  font-weight: 600;
}

.header-banner-content-content p {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  margin: 50px 0px 0px 0px;
}

.header-banner-content-btn button {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  background: rgba(0, 111, 249, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
  margin: 0px 0px 80px 0px;
}

.header-banner-content-btn button i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 14px;
}

.header-banner-base-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/asserts/images/banner_base\ img.svg");
  width: 100%;
  height: 22px;
}

/* About-Section */

.about-section-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-section {
  display: flex;
  gap: 100px;
  margin: 100px 0px 50px 0px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-section-img {
  width: 442px;
}

.about-section-img img {
  width: 100%;
  height: 399px;
  object-fit: fill;
}

.about-section-content-heading h2 {
  font-family: "bagian", sans-serif;
  font-size: 40px;
  line-height: 44px;
}

.about-section-content-sub-heading p {
  font-size: 24px;
  line-height: 32px;
  max-width: 501px;
  color: rgba(57, 57, 57, 1);
}

.about-section-content-content p {
  font-size: 16px;
  line-height: 26px;
  color: rgba(57, 57, 57, 1);
  max-width: 586px;
}
