/* Fonts */

@font-face {
  font-family: "bagian";
  src: url("/asserts/fonts/b_bagian/bBagian.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-med";
  src: url("/asserts/fonts/Manrope/static/Manrope-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Manrope";
  src: url("/asserts/fonts/Manrope/static/Manrope-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Manrope-bold";
  src: url("/asserts/fonts/Manrope/static/Manrope-Bold.ttf") format("truetype");
}

/* Global */

* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Header */

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

#header-navbar.scrolled {
  background-color: #000000;
  height: 95px;
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  align-items: center;
  gap: 30px;
}

.header-nav ul {
  list-style: none;
  cursor: pointer;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.header-nav ul li button {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  background: rgba(0, 111, 249, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
}

.header-nav ul li i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 14px;
  color: #ffff;
}

.header-logo {
  width: 130px;
  cursor: pointer;
}

.header-logo img {
  width: 100%;
}

.hr {
  width: 100%;
}

/* Banner */

.banner-background-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/asserts/images/banner_img.svg");
  width: 100%;
  /* height: 730px; */
}

.banner {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 200px 0px 0px 0px;
}

.banner-content-heading h1 {
  font-family: "bagian", sans-serif;
  color: #fff;
  font-size: 150px;
  line-height: 164px;
}

.banner-content-sub-heading p {
  color: #fff;
  font-size: 48px;
  line-height: 66px;
  font-weight: 600;
}

.banner-content-content p {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  margin: 50px 0px 0px 0px;
}

.banner-content-btn button {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  background: rgba(0, 111, 249, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
  margin: 0px 0px 80px 0px;
}

.banner-content-btn button i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 14px;
  color: #fff;
}

.banner-base-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/asserts/images/banner_base\ img.svg");
  width: 100%;
  height: 22px;
}

/* About-Section */

.about-section-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-section {
  display: flex;
  gap: 50px;
  margin: 80px 0px 50px 0px;
  align-items: center;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-section-img {
  width: 800px;
  margin: 0;
}

.about-section-img img {
  width: 100%;
}

.about-section-content-heading h2 {
  font-family: "bagian", sans-serif;
  font-size: 40px;
  line-height: 44px;
}

.about-section-content-sub-heading p {
  font-size: 24px;
  line-height: 32px;
  max-width: 648px;
  color: rgba(57, 57, 57, 1);
}

.about-section-content-content p {
  font-size: 16px;
  line-height: 26px;
  color: rgba(57, 57, 57, 1);
  max-width: 586px;
}

/* Expeditions-section */

.expeditions-section-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.expeditions-section {
  padding: 100px 0px;
}

.expeditions-navs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 900px;
  margin: 0 auto;
  gap: 85px;
  align-items: center;
}

.expeditions-nav-all {
  border: 1px solid rgba(255, 165, 9, 1);
  padding: 30px;
  border-radius: 10px;
  width: 60px;
}

.expeditions-nav-all p {
  text-align: center;
  color: rgba(255, 165, 9, 1);
  margin: 0 auto;
  max-width: 40px;
}

.expeditions-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.expeditions-header-heading h2 {
  font-family: "bagian", sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.expeditions-header-sub-heading p {
  font-size: 16px;
  line-height: 26px;
}

.expeditions-nav {
  width: 60px;
}

.expeditions-nav img {
  width: 100%;
}

.expeditions-nav-last-img img {
  width: 100px;
}

.expeditions-card {
  width: 300.21px;
  padding: 0px 0px 20px 0px;
  background: #fff;
  border-radius: 10px;
}

.expeditions-card-content-heading p {
  font-size: 20px;
  line-height: 28px;
  max-width: 181px;
}

.expeditions-card-content-header-tag {
  padding: 2px 15px;
  background: rgba(255, 165, 9, 0.5);
  border-radius: 5px;
}

.expeditions-card-content-header-tag p {
  color: rgba(57, 57, 57, 1);
}

.expeditions-card-content-header,
.expeditions-card-content-sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expeditions-card-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  height: 200px;
}

.expeditions-card-content-sub-heading p,
i,
.expeditions-card-content-sub-header-time p,
i,
.expeditions-card-content-content p {
  font-size: 16px;
  line-height: 21px;
  color: rgba(57, 57, 57, 1);
}

.expeditions-card-content-sub-heading i,
.expeditions-card-content-sub-header-time i {
  margin-right: 10px;
}

.expeditions-cards {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.expeditions-card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.expeditions-card-btn button {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  background: rgba(0, 111, 249, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
}

.expeditions-card-btn button i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 14px;
  color: #fff;
}

.expeditions-card-img img {
  width: 100%;
}

/* FAQ */

.faq-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.faq-header {
  display: block;
  text-align: center;
  margin: 30px 0px;
}

.faq-header-heading p {
  font-family: "bagian", sans-serif;
  font-size: 36px;
  line-height: 39px;
}

.faq-header-sub-heading {
  font-size: 16px;
  line-height: 25px;
}

.faq-sub-header {
  margin: 20px 0px;
}

.faq-sub-header p,
.faq-content-heading p,
.faq-sub-content p {
  font-size: 24px;
  line-height: 32px;
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0px;
}

.faq-content-content {
  font-size: 16px;
  line-height: 26px;
  max-width: 900px;
}

.faq-sub-content {
  margin: 30px 0px;
}

.faq-btn button {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  background: rgba(0, 111, 249, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
}

.faq-btn button i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 14px;
  color: #fff;
}

.faq-btn {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

/* contact-section */

.contact-background-img {
  background-image: url("/asserts/images/contact-main-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.Contact-section-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

.contact-card {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff61;
}

.contact-form-heading {
  display: block;
  text-align: center;
  margin: 15px 0px 0px 0px;
}

.contact-form-heading p {
  font-family: "bagian", sans-serif;
  font-size: 36px;
  line-height: 39px;
  font-weight: 400;
}

.contact-form-card {
  padding: 20px 30px;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  gap: 20px;
}

.contact-sec-details-name {
  display: flex;
  gap: 10px;
}

.details-name {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.message-box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.contact-sec-details-conatact {
  display: flex;
  gap: 10px;
}

.contact-sec-img img {
  width: 100%;
}

.contact-sec-img {
  height: 423px;
  width: 409px;
}

.message-box {
  flex-basis: 100%;
}

.details-name label,
.message-box label {
  color: #ffffff;
  font-size: 14px;
  line-height: 19px;
}

input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #ffffff28;
}

textarea {
  resize: none;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #ffffff28;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.details-name,
.message-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-sec-btn button {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  background: rgba(0, 111, 249, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
}

.contact-sec-btn button i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 14px;
  color: #fff;
}

.contact-sec-btn {
  display: flex;
  justify-content: center;
}

/* footer */

footer {
  background: #000;
  padding: 50px 0px;
}

.footer-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-logo {
  text-align: center;
}

.footer-nav {
  text-align: center;
  margin: 0 auto;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-nav ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-social-links i {
  color: #000000;
}

.footer-social-btn {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px 10px;
  background: #fff;
}

.copyright-banner {
  background: #000;
  padding: 20px 0px;
}

.copyright-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;

  p {
    color: #fff;
    font-size: 16px;
    line-height: 21px;
  }
}

/* Gallery-section */

.gallery-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.gallery {
  background: #000;
  padding: 80px 0px;
}

.gallery-heading p {
  font-family: "bagian", sans-serif;
  font-size: 36px;
  line-height: 39px;
  color: #ffff;
}

.gallery-sub-heading p {
  font-size: 16px;
  line-height: 26px;
  color: #ffff;
}

.gallery-header {
  display: block;
  text-align: center;
}

.gallery-imgs {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px 5px;
}

.grid-container > div {
  text-align: center;
}

.gallery-img1 img,
.gallery-img2 img,
.gallery-img3 img,
.gallery-img4 img {
  width: 100%;
}

.gallery-img1 {
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-img4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.gallery-btn button {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  background: rgba(0, 111, 249, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
}

.gallery-btn button i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 14px;
  color: #fff;
}

.gallery-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
